:root{
    --color-header: #222222;
    --color-fondo: #D4A373;
    --color-texto: #FFFFFF;
    --color-cards: #E5E5E5;
    --color-footer: #84A98C;
}

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: var(--color-texto);
}
body{
    background-color: var(--color-fondo);
}

.encabezado{
    display: flex;
    justify-content: row;
    align-items: center;
    background-color: var(--color-header);
    padding: 20px;
    padding-right: 50px;
}
.logo{
    margin-right: 300px;
}

.menu-nav-encabezado-lista{
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding-right: 5px;
}
.lista-item{
    list-style: none;
    padding-right: 10px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url('../imagenes/img-de-fondo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 10px;
}

.btn-registro{
    background-color: var(--color-header);
    color: var(--color-texto);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.servicios{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.contenedor-tarjetas{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

.tarjetas{
    background-color: var(--color-cards);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.img-tarjeta{
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.especialidades{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;   
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.contenedor-especialidades{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

.especialidad{
    background-color: var(--color-cards);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.icono-especialidad{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.equipo{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;   
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.contenedor-equipo{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

.miembro-equipo{
    background-color: var(--color-cards);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonios{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px; 

}
.subtestimonios{
    /* background-color: var(--color-fondo-testimonios); */
    display: grid;
    grid-template-columns: repeat(4, auto);
    font-size: 24px;
    margin-bottom: 20px;
}
.testimonio{
    background-color: var(--color-cards);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 2px;
}

.pie-pagina{
    background-color: var(--color-footer);
    color: var(--color-texto);
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 20px;
}